In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('Superstore.csv', sep=';', quotechar='"', encoding='utf-8')

In [20]:
df.shape

(9994, 21)

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11.08.2016,11.11.2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,"261,96",2.0,0,"41,91"
1,2,CA-2016-152156,11.08.2016,11.11.2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...","731,94",3.0,0,"219,58"
2,3,CA-2016-138688,06.12.2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,"14,62",2.0,0,2488915
3,4,US-2015-108966,10.11.2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,"957,58",5.0,"0,45","-383,03"
4,5,US-2015-108966,10.11.2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,"22,37",2.0,"0,2",1192184

In [23]:
from datetime import datetime

def parse_dates(x):
    for fmt in ("%d.%m.%Y", "%m/%d/%Y"):
        try:
            return datetime.strptime(x, fmt)
        except:
            continue
    return pd.NaT

df['Order Date'] = df['Order Date'].apply(parse_dates)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9988 non-null   object
 18  Quantity       9988 non-null   float64
 19  Discount       9988 non-null   object
 20  Profit         9988 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(17)
memory usage: 976.0+ KB

In [25]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            6
Quantity         6
Discount         6
Profit           6
dtype: int64

In [26]:
df[df.isna().any(axis=1)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
181,182,CA-2014-166191,2014-05-12,12.09.2014,Second Class,DK-13150,David Kendrick,Corporate,United States,Decatur,...,62521,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
430,431,US-2016-123750,2016-04-15,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,...,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
431,432,US-2016-123750,2016-04-15,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,...,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1406,1407,US-2014-118486,2014-06-04,04.08.2014,First Class,SD-20485,Shirley Daniels,Home Office,United States,Philadelphia,...,19143,East,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1969,1970,CA-2017-117485,2017-09-23,9/29/2017,Standard Class,BD-11320,Bill Donatelli,Consumer,United States,Tulsa,...,74133,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1971,1972,CA-2017-140242,2017-06-05,05.11.2017,Standard Class,ML-17755,Max Ludwig,Home Office,United States,Chicago,...,60623,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN

In [27]:
df = df.dropna()

In [28]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [29]:
df = df.drop_duplicates()

In [30]:
df.drop(
    ['Row ID', 'Ship Date','Ship Mode','Customer ID', 'Customer Name', 'Postal Code'],
    axis=1,
    inplace=True
)

In [31]:
df.head()

,Order ID,Order Date,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,"261,96",2.0,0,"41,91"
1,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...","731,94",3.0,0,"219,58"
2,CA-2016-138688,2016-12-06,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,"14,62",2.0,0,2488915
3,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,"957,58",5.0,"0,45","-383,03"
4,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,"22,37",2.0,"0,2",1192184

In [32]:
df.dtypes

Order ID                object
Order Date      datetime64[ns]
Segment                 object
Country                 object
City                    object
State                   object
Region                  object
Product ID              object
Category                object
Sub-Category            object
Product Name            object
Sales                   object
Quantity               float64
Discount                object
Profit                  object
dtype: object

In [33]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w\s]', '', regex=True)

In [34]:
df.columns

Index(['order_id', 'order_date', 'segment', 'country', 'city', 'state',
       'region', 'product_id', 'category', 'subcategory', 'product_name',
       'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [35]:
num_cols = ['sales', 'profit', 'discount']

df[num_cols] = (
    df[num_cols]
    .astype(str)
    .apply(lambda col: col.str.replace(',', '.', regex=False))
)

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

In [36]:
df = df.astype({
     'order_id': 'string',
     'segment': 'string',
     'country': 'string',
      'city': 'string',
      'state': 'string',
      'region': 'string',
      'product_id': 'string',
       'category': 'string',
       'subcategory': 'string',
       'product_name': 'string',
        'sales': 'float64',
        'quantity': 'Int64',
        'discount': 'float64',
       'profit': 'float64'
})

In [37]:
df.dtypes

order_id        string[python]
order_date      datetime64[ns]
segment         string[python]
country         string[python]
city            string[python]
state           string[python]
region          string[python]
product_id      string[python]
category        string[python]
subcategory     string[python]
product_name    string[python]
sales                  float64
quantity                 Int64
discount               float64
profit                 float64
dtype: object

In [38]:
df_backup = df.copy()

In [39]:
df.head()

,order_id,order_date,segment,country,city,state,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91
1,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58
2,CA-2016-138688,2016-12-06,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,2488915.00
3,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03
4,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,1192184.00

In [40]:
df[df['sales'] < 0]

Empty DataFrame
Columns: [order_id, order_date, segment, country, city, state, region, product_id, category, subcategory, product_name, sales, quantity, discount, profit]
Index: []

In [41]:
df = df_backup.copy()

In [42]:
df.head()

,order_id,order_date,segment,country,city,state,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91
1,CA-2016-152156,2016-08-11,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58
2,CA-2016-138688,2016-12-06,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,2488915.00
3,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03
4,US-2015-108966,2015-11-10,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,1192184.00

In [43]:
df[df['quantity'] < 0]

Empty DataFrame
Columns: [order_id, order_date, segment, country, city, state, region, product_id, category, subcategory, product_name, sales, quantity, discount, profit]
Index: []

In [44]:
df[df['discount'] < 0]

Empty DataFrame
Columns: [order_id, order_date, segment, country, city, state, region, product_id, category, subcategory, product_name, sales, quantity, discount, profit]
Index: []

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9988 entries, 0 to 9993
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   string
 1   order_date    9988 non-null   datetime64[ns]
 2   segment       9988 non-null   string
 3   country       9988 non-null   string
 4   city          9988 non-null   string
 5   state         9988 non-null   string
 6   region        9988 non-null   string
 7   product_id    9988 non-null   string
 8   category      9988 non-null   string
 9   subcategory   9988 non-null   string
 10  product_name  9988 non-null   string
 11  sales         9988 non-null   float64
 12  quantity      9988 non-null   Int64
 13  discount      9988 non-null   float64
 14  profit        9988 non-null   float64
dtypes: Int64(1), datetime64[ns](1), float64(3), string(10)
memory usage: 868.1 KB
None

In [46]:
print(df.isna().sum())

order_id        0
order_date      0
segment         0
country         0
city            0
state           0
region          0
product_id      0
category        0
subcategory     0
product_name    0
sales           0
quantity        0
discount        0
profit          0
dtype: int64

In [47]:
df = df.drop_duplicates()

In [48]:
print(df.duplicated().sum())

0

In [49]:
df.to_csv('clean_data_superstore.csv', index=False)