In [38]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv("Superstore_clean.csv")

In [41]:
df.head()

,order_id,order_date,order_year,order_month,segment,country,city,state,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,CA-2016-152156,2016-08-11,2016,August,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91
1,CA-2016-152156,2016-08-11,2016,August,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58
2,CA-2016-138688,2016-12-06,2016,December,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,2488915.00
3,US-2015-108966,2015-11-10,2015,November,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03
4,US-2015-108966,2015-11-10,2015,November,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,1192184.00

In [42]:
total_sales = df['sales'].sum()

In [43]:
total_profit = df['profit'].sum()

In [44]:
df['profit_margin'] = df['profit'] / df['sales']
avg_profit_margin = df['profit_margin'].mean()

In [45]:
num_loss_orders = df[df['profit'] < 0].shape[0]
total_orders = df.shape[0]
percent_loss_orders = (num_loss_orders / total_orders) * 100

In [48]:
print(f"Total Sales: {total_sales}")
print(f"Total Profit: {total_profit}")
print(f"Average Profit Margin: {avg_profit_margin:.2%}")
print(f"% Loss Orders: {percent_loss_orders:.2f}%")

Total Sales: 44541645.86
Total Profit: 3088129378.79
Average Profit Margin: 1278026.68%
% Loss Orders: 18.73%

In [53]:
monthly_summary = df.groupby(['order_year', 'order_month']).agg(
    total_sales=('sales', 'sum'),
    total_profit=('profit', 'sum')
).reset_index()

In [55]:
for index, row in monthly_summary.iterrows():
    year = row['order_year']
    month = str(row['order_month']).zfill(2)  # додає провідний нуль, якщо потрібно
    sales = f"{row['total_sales']:.2f}"
    profit = f"{row['total_profit']:,}"    
    print(f"{year}-{month} | Sales: {sales} | Profit: {profit}")

2014-April | Sales: 633253.99 | Profit: 41,271,579.37
2014-August | Sales: 614338.58 | Profit: 55,959,931.96
2014-December | Sales: 980305.06 | Profit: 104,725,866.89
2014-February | Sales: 445242.51 | Profit: 28,082,638.59
2014-January | Sales: 711709.78 | Profit: 53,688,352.42
2014-July | Sales: 610327.73 | Profit: 62,320,813.65
2014-June | Sales: 539985.39 | Profit: 35,871,777.55
2014-March | Sales: 692147.40 | Profit: 59,673,557.3
2014-May | Sales: 403577.57 | Profit: 60,083,172.93
2014-November | Sales: 1297385.50 | Profit: 97,010,029.34
2014-October | Sales: 559058.03 | Profit: 41,907,008.35
2014-September | Sales: 1184051.19 | Profit: 74,086,897.96
2015-April | Sales: 825845.94 | Profit: 52,989,283.83
2015-August | Sales: 842743.15 | Profit: 35,837,894.35
2015-December | Sales: 1716131.21 | Profit: 86,223,226.63
2015-February | Sales: 367750.33 | Profit: 27,587,878.48
2015-January | Sales: 403667.90 | Profit: 20,278,979.71
2015-July | Sales: 712545.51 | Profit: 24,388,840.81
2015-June | Sales: 689586.89 | Profit: 54,987,210.03
2015-March | Sales: 597458.24 | Profit: 43,371,185.089999996
2015-May | Sales: 662520.69 | Profit: 61,380,087.85
2015-November | Sales: 914942.79 | Profit: 57,254,528.88
2015-October | Sales: 867111.31 | Profit: 42,028,253.75
2015-September | Sales: 1530771.58 | Profit: 75,083,656.59
2016-April | Sales: 1034661.56 | Profit: 75,362,058.46
2016-August | Sales: 933832.33 | Profit: 69,323,396.8
2016-December | Sales: 1099255.13 | Profit: 96,516,954.63
2016-February | Sales: 527174.82 | Profit: 34,619,406.82
2016-January | Sales: 914906.33 | Profit: 41,464,778.92
2016-July | Sales: 1034551.20 | Profit: 60,881,761.33
2016-June | Sales: 923487.90 | Profit: 55,779,974.97
2016-March | Sales: 616840.59 | Profit: 47,376,576.58
2016-May | Sales: 854506.23 | Profit: 61,667,113.07
2016-November | Sales: 963300.72 | Profit: 101,204,001.75
2016-October | Sales: 957825.96 | Profit: 71,188,905.49
2016-September | Sales: 1266256.79 | Profit: 65,305,239.82
2017-April | Sales: 1199966.28 | Profit: 67,700,154.19
2017-August | Sales: 543935.26 | Profit: 66,092,485.03
2017-December | Sales: 1386774.24 | Profit: 109,435,164.9
2017-February | Sales: 1522308.08 | Profit: 82,128,796.81
2017-January | Sales: 1144965.41 | Profit: 65,944,903.17
2017-July | Sales: 750149.39 | Profit: 62,358,828.86
2017-June | Sales: 964424.73 | Profit: 76,845,244.47
2017-March | Sales: 1286330.76 | Profit: 118,705,947.3
2017-May | Sales: 1265105.97 | Profit: 48,418,002.05
2017-November | Sales: 1525356.40 | Profit: 119,382,199.41
2017-October | Sales: 1352952.78 | Profit: 66,323,615.56
2017-September | Sales: 1670318.73 | Profit: 128,011,216.09

In [56]:
monthly_summary['sales_MoM_change'] = monthly_summary['total_sales'].pct_change() * 100
monthly_summary['profit_MoM_change'] = monthly_summary['total_profit'].pct_change() * 100

In [57]:
print(monthly_summary)

    order_year order_month  total_sales  total_profit  sales_MoM_change  \
0         2014       April    633253.99  4.127158e+07               NaN
1         2014      August    614338.58  5.595993e+07         -2.987018
2         2014    December    980305.06  1.047259e+08         59.570812
3         2014    February    445242.51  2.808264e+07        -54.581229
4         2014     January    711709.78  5.368835e+07         59.847670
5         2014        July    610327.73  6.232081e+07        -14.244858
6         2014        June    539985.39  3.587178e+07        -11.525339
7         2014       March    692147.40  5.967356e+07         28.178912
8         2014         May    403577.57  6.008317e+07        -41.691962
9         2014    November   1297385.50  9.701003e+07        221.471161
10        2014     October    559058.03  4.190701e+07        -56.908873
11        2014   September   1184051.19  7.408690e+07        111.793969
12        2015       April    825845.94  5.298928e+07        -30.252514
13        2015      August    842743.15  3.583789e+07          2.046049
14        2015    December   1716131.21  8.622323e+07        103.636329
15        2015    February    367750.33  2.758788e+07        -78.570967
16        2015     January    403667.90  2.027898e+07          9.766836
17        2015        July    712545.51  2.438884e+07         76.517754
18        2015        June    689586.89  5.498721e+07         -3.222057
19        2015       March    597458.24  4.337119e+07        -13.359977
20        2015         May    662520.69  6.138009e+07         10.889874
21        2015    November    914942.79  5.725453e+07         38.100259
22        2015     October    867111.31  4.202825e+07         -5.227811
23        2015   September   1530771.58  7.508366e+07         76.536918
24        2016       April   1034661.56  7.536206e+07        -32.409148
25        2016      August    933832.33  6.932340e+07         -9.745141
26        2016    December   1099255.13  9.651695e+07         17.714401
27        2016    February    527174.82  3.461941e+07        -52.042542
28        2016     January    914906.33  4.146478e+07         73.548943
29        2016        July   1034551.20  6.088176e+07         13.077281
30        2016        June    923487.90  5.577997e+07        -10.735409
31        2016       March    616840.59  4.737658e+07        -33.205341
32        2016         May    854506.23  6.166711e+07         38.529507
33        2016    November    963300.72  1.012040e+08         12.731855
34        2016     October    957825.96  7.118891e+07         -0.568333
35        2016   September   1266256.79  6.530524e+07         32.201135
36        2017       April   1199966.28  6.770015e+07         -5.235155
37        2017      August    543935.26  6.609249e+07        -54.670788
38        2017    December   1386774.24  1.094352e+08        154.952076
39        2017    February   1522308.08  8.212880e+07          9.773317
40        2017     January   1144965.41  6.594490e+07        -24.787536
41        2017        July    750149.39  6.235883e+07        -34.482790
42        2017        June    964424.73  7.684524e+07         28.564356
43        2017       March   1286330.76  1.187059e+08         33.378036
44        2017         May   1265105.97  4.841800e+07         -1.650026
45        2017    November   1525356.40  1.193822e+08         20.571433
46        2017     October   1352952.78  6.632362e+07        -11.302514
47        2017   September   1670318.73  1.280112e+08         23.457282

    profit_MoM_change
0                 NaN
1           35.589509
2           87.144379
3          -73.184621
4           91.179872
5           16.078834
6          -42.440133
7           66.352384
8            0.686427
9           61.459564
10         -56.801365
11          76.788802
12         -28.476849
13         -32.367657
14         140.592334
15         -68.004122
16         -26.493153
17          20.266607
18         125.460531
19         -21.124958
20          41.522736
21          -6.721331
22         -26.594010
23          78.650431
24           0.370789
25          -8.012867
26          39.227099
27         -64.131269
28          19.773222
29          46.827652
30          -8.379827
31         -15.065260
32          30.163717
33          64.113409
34         -29.658013
35          -8.264863
36           3.667262
37          -2.374691
38          65.578832
39         -24.952097
40         -19.705504
41          -5.437986
42          23.230737
43          54.474032
44         -59.211814
45         146.565728
46         -44.444301
47          93.010009

In [58]:
category_summary = (
    df.groupby(['category', 'subcategory'])
      .agg(
          total_sales=('sales', 'sum'),
          total_profit=('profit', 'sum'),
          avg_profit_margin=('profit_margin', 'mean'),
          orders_count=('order_id', 'nunique')
      )
      .reset_index()
)

category_summary

,category,subcategory,total_sales,total_profit,avg_profit_margin,orders_count
0,Furniture,Bookcases,114880.05,1.746738e+07,530.633371,224
1,Furniture,Chairs,328449.13,4.631399e+07,699.820589,576
2,Furniture,Furnishings,3959851.12,3.811910e+08,14143.596941,877
3,Furniture,Tables,206965.68,1.701850e+07,196.747682,307
4,Office Supplies,Appliances,1074061.44,9.792410e+07,5611.754397,451
5,Office Supplies,Art,9175250.65,4.297092e+08,14474.037454,731
6,Office Supplies,Binders,6622988.60,3.639537e+08,14101.880896,1316
7,Office Supplies,Envelopes,1313071.59,1.074644e+08,20225.336014,249
8,Office Supplies,Fasteners,3413481.87,1.205192e+08,25112.501335,215
9,Office Supplies,Labels,5029283.33,2.689257e+08,44719.898941,346
10,Office Supplies,Paper,7945558.41,5.846059e+08,25583.606732,1191
11,Office Supplies,Storage,966421.47,2.956687e+08,7443.441764,777
12,Office Supplies,Supplies,1551496.30,6.010741e+07,9849.323493,187
13,Technology,Accessories,1497195.00,1.394563e+08,5433.500324,713
14,Technology,Copiers,149528.01,5.561790e+04,0.317195,68
15,Technology,Machines,209987.12,2.959863e+06,122.352429,112
16,Technology,Phones,983176.09,1.547885e+08,4060.248809,814

In [59]:
region_summary = (
    df.groupby('region')
      .agg(
          total_sales=('sales', 'sum'),
          total_profit=('profit', 'sum'),
          avg_profit_margin=('profit_margin', 'mean'),
          orders_count=('order_id', 'nunique')
      )
      .reset_index()
)

region_summary

    region  total_sales  total_profit  avg_profit_margin  orders_count
0  Central   8519887.69  6.180132e+08       13166.344424          1174
1     East  12610566.06  9.169909e+08       13806.219953          1401
2    South   6073679.99  4.989899e+08       12963.926711           822
3     West  17337512.12  1.054135e+09       11495.924004          1611

In [60]:
segment_summary = (
    df.groupby('segment')
      .agg(
          total_sales=('sales', 'sum'),
          total_profit=('profit', 'sum'),
          avg_profit_margin=('profit_margin', 'mean'),
          orders_count=('order_id', 'nunique')
      )
      .reset_index()
)

segment_summary

       segment  total_sales  total_profit  avg_profit_margin  orders_count
0     Consumer  22975071.16  1.625222e+09       12640.956573          2585
1    Corporate  13422765.25  9.381960e+08       13227.708219          1514
2  Home Office   8143809.45  5.247117e+08       12427.369053           909

In [62]:
category_summary.sort_values('total_profit', ascending=False)

,category,subcategory,total_sales,total_profit,avg_profit_margin,orders_count
10,Office Supplies,Paper,7945558.41,5.846059e+08,25583.606732,1191
5,Office Supplies,Art,9175250.65,4.297092e+08,14474.037454,731
2,Furniture,Furnishings,3959851.12,3.811910e+08,14143.596941,877
6,Office Supplies,Binders,6622988.60,3.639537e+08,14101.880896,1316
11,Office Supplies,Storage,966421.47,2.956687e+08,7443.441764,777
9,Office Supplies,Labels,5029283.33,2.689257e+08,44719.898941,346
16,Technology,Phones,983176.09,1.547885e+08,4060.248809,814
13,Technology,Accessories,1497195.00,1.394563e+08,5433.500324,713
8,Office Supplies,Fasteners,3413481.87,1.205192e+08,25112.501335,215
7,Office Supplies,Envelopes,1313071.59,1.074644e+08,20225.336014,249
4,Office Supplies,Appliances,1074061.44,9.792410e+07,5611.754397,451
12,Office Supplies,Supplies,1551496.30,6.010741e+07,9849.323493,187
1,Furniture,Chairs,328449.13,4.631399e+07,699.820589,576
0,Furniture,Bookcases,114880.05,1.746738e+07,530.633371,224
3,Furniture,Tables,206965.68,1.701850e+07,196.747682,307
15,Technology,Machines,209987.12,2.959863e+06,122.352429,112
14,Technology,Copiers,149528.01,5.561790e+04,0.317195,68

In [63]:
region_summary.sort_values('total_profit', ascending=False)

    region  total_sales  total_profit  avg_profit_margin  orders_count
3     West  17337512.12  1.054135e+09       11495.924004          1611
1     East  12610566.06  9.169909e+08       13806.219953          1401
0  Central   8519887.69  6.180132e+08       13166.344424          1174
2    South   6073679.99  4.989899e+08       12963.926711           822

In [64]:
segment_summary.sort_values('total_profit', ascending=False)

       segment  total_sales  total_profit  avg_profit_margin  orders_count
0     Consumer  22975071.16  1.625222e+09       12640.956573          2585
1    Corporate  13422765.25  9.381960e+08       13227.708219          1514
2  Home Office   8143809.45  5.247117e+08       12427.369053           909